!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'History of Everything' if session.get('language') == 'en' else 'История всего' }}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <!--Вверх сайта-->

    <header class="header">
        <div class="main-container">
            <div class="navbar">
                <div class="logo">
                    <a href="/templates/main-page.html" class="logo-link">
                        <img src="/static/img/Logo-img.png" alt="logo" class="logo-photo">
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="review">
                        <a href="/templates/review.html" class="review-link">
                            <h4 class="review-link-name navbar-name h4-text">Leave a review about our site!</h4>
                        </a>
                    </div>
                    <div class="authors">
                        <a href="/templates/authors.html" class="authors-link">
                            <h4 class="authors-link-name navbar-name h4-text">The authors of the site</h4>
                        </a>
                    </div>
                    <div class="registration">
                        <div class="registration-login">
                            <h5 class="registration-login-link-name h5-text">Log In</h5>
                        </div>
                        <div class="registration-between-line"></div>
                        <div class="registration-sign-up">
                            <a href="/templates/sign-up.html" class="registration-sign-up-link">
                                <h5 class="registration-sign-up-link-name h5-text">Sign Up</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main main-su">
    </main>
    <footer class="footer">
        <div class="main-container">
            <div class="contacts">
                <div class="emails">
                    <div class="contacts-first-text">
                        <h5 class="contacts-first-text-name h5-text">Have any questions?   Write them on those e-mails:</h5>
                    </div>
                    <div class="emails-names">
                        <a href="" class="emails-first-link">
                            <span class="emails-first-link-name emails-link-name">qwertyui231@gmail.com</span>
                        </a>
                        <a href="" class="emails-second-link">
                            <span class="emails-second-link-name emails-link-name">ytfigh2324uijhihj@gmail.com</span>
                        </a>
                    </div>
                    <div class="contacts-second-text">
                        <h5 class="contacts-second-text-name h5-text">or in our social media channels:</h5>
                    </div>
                </div>
                <div class="social-media">
                    <div class="social-media-icons">
                        <div class="social-media-icon">
                            <img src="/static/img/Social media icons/tg-icon.svg" alt="telegram" class="social-media-icon-photo">
                        </div>
                        <div class="social-media-icon">
                            <img src="/static/img/Social media icons/whatsapp-icon.svg" alt="whatsapp" class="social-media-icon-photo">
                        </div>
                        <div class="social-media-icon">
                            <img src="/static/img/Social media icons/viber-icon.svg" alt="viber" class="social-media-icon-photo">
                        </div>
                        <div class="social-media-icon">
                            <img src="/static/img/Social media icons/vk-icon.svg" alt="VK" class="social-media-icon-photo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="copyright-info">
                    <img src="/static/img/copyright-icon.png" alt="copyright" class="copyright-photo">
                    <span class="copyright-text">2024 - Dictionary of Evolutions</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>