<!DOCTYPE html>
<html lang="{{ session.get('language', 'en') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'History of Everything' if session.get('language') == 'en' else 'История всего' }}</title>
    <link rel="stylesheet" href="/static/main.css">
    <style>
        html, body {
          height: 100%;
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="main-container">
            <div class="navbar">
                <div class="logo">
                    <a href="/">
                    <img src="/static/img/Logo-img.png" alt="logo" class="logo-photo">
                        </a>
                </div>
                <div class="navbar-menu">
                    <div class="review">
                        <a href="/templates/review.html" class="review-link">
                            <h4 class="review-link-name navbar-name h4-text">
                                {{ 'Leave a review about our site!' if session.get('language') == 'en' else 'Оставьте отзыв о нашем сайте!' }}
                            </h4>
                        </a>
                    </div>
                    <div class="authors">
                        <a href="/templates/authors.html" class="authors-link">
                            <h4 class="authors-link-name navbar-name h4-text">
                                {{ 'The authors of the site' if session.get('language') == 'en' else 'Авторы сайта' }}
                            </h4>
                        </a>
                    </div>
                    {% if username %}
                        <div class="user-menu">
                            <span class="user-name">{{ username }}</span>
                            <div class="user-dropdown">
                                <a href="/templates/history.html">{{ 'History' if session.get('language') == 'en' else 'История' }}</a>
                                <a href="/templates/favourites.html">{{ 'Favorites' if session.get('language') == 'en' else 'Избранное' }}</a>
                                <a href="/logout">{{ 'Log Out' if session.get('language') == 'en' else 'Выйти' }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="registration">
                            <div class="registration-login">
                                <a href="/templates/login.html" class="registration-login-link">
                                    <h5 class="registration-login-link-name h5-text">
                                        {{ 'Log In' if session.get('language') == 'en' else 'Войти' }}
                                    </h5>
                                </a>
                            </div>
                            <div class="registration-between-line"></div>
                            <div class="registration-sign-up">
                                <a href="/templates/sign-up" class="registration-sign-up-link">
                                    <h5 class="registration-sign-up-link-name h5-text">
                                        {{ 'Sign Up' if session.get('language') == 'en' else 'Регистрация' }}
                                    </h5>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="dropdown-auth-lang dropdown-auth">
                        <button class="dropbtn-auth dropbtn-auth-lang-pic site-text-main"><img src="/static/img/icons8-гугл-переводчик.svg" alt="#"></button>
                        <div class="dropdown-auth-content dropdown-auth-content-lang">
                            <a href="/set_language/ru" class="rs-link menu-link h5-text">Русский</a>
                            <a href="/set_language/en" class="ea-link menu-link h5-text">English</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="site-info">
            <div class="site-header">
                <h1 class="site-header-name h1-text">
                    {{ 'Dictionary of Evolutions' if session.get('language') == 'en' else 'Словарь Эволюций' }}
                </h1>
            </div>
            <div class="site-text">
                <span class="site-text-main">
                    {{ 'A website dedicated to the evolution of everyday objects. Discover how the things around us have changed: from the first tools and inventions to modern technologies. Explore the history of design, functionality, and the cultural significance of familiar items across different eras.' if session.get('language') == 'en' else 'Веб-сайт, посвящённый эволюции повседневных объектов. Узнайте, как изменились вещи вокруг нас: от первых инструментов и изобретений до современных технологий. Исследуйте историю дизайна, функциональности и культурное значение привычных предметов в разные эпохи.' }}
                </span>
            </div>
        </div>
        <div class="form">
            <form action="/templates/pictures.html" class="main-form" method="GET">
                <input type="text" name="item_name" class="main-form-input h5-text" placeholder="{{ 'Write text right there' if session.get('language') == 'en' else 'Введите текст здесь' }}">
                <button type="submit" class="main-form-button">
                    <img src="/static/img/search-icon.png" alt="search" class="input-photo">
                </button>
            </form>
        </div>
    </main>

    <footer class="footer">
        <div class="main-container">
            <div class="contacts">
                <div class="emails">
                    <div class="contacts-first-text">
                        <h5 class="contacts-first-text-name h5-text">
                            {{ 'Have any questions? Write them on those e-mails:' if session.get('language') == 'en' else 'Есть вопросы? Пишите их на эти e-mail:' }}
                        </h5>
                    </div>
                    <div class="emails-names">
                        <a href="" class="emails-first-link">
                            <span class="emails-first-link-name emails-link-name">Dictionary-of-evolutions@yandex.ru</span>
                        </a>
                    </div>
                    <div class="contacts-second-text">
                        <h5 class="contacts-second-text-name h5-text">
                            {{ 'or in our social media channels:' if session.get('language') == 'en' else 'или в наших социальных сетях:' }}
                        </h5>
                    </div>
                </div>
                <div class="social-media">
                    <div class="social-media-icons">
                        <div class="social-media-icon">
                            <a href="https://t.me/Dictionary_of_evolutions" target="_blank" class="social-media-icon-link">
                                <img src="/static/img/Social media icons/tg-icon.svg" alt="telegram" class="social-media-icon-photo">
                            </a>
                        </div>
                        <div class="social-media-icon">
                            <a href="https://chat.whatsapp.com/EI1k6oGulP71rzLXWm0Uoy" target="_blank" class="social-media-icon-link">
                                <img src="/static/img/Social media icons/whatsapp-icon.svg" alt="whatsapp" class="social-media-icon-photo">
                            </a>
                        </div>
                        <div class="social-media-icon">
                            <a href="https://invite.viber.com/?g2=AQBcGobe9%2FkLMFPpyrg6hJdaj%2FWY6%2BncEdEC4bGW5MZjZt8xiXyNhx4aecHcTQDk" target="_blank" class="social-media-icon-link">
                                <img src="/static/img/Social media icons/viber-icon.svg" alt="viber" class="social-media-icon-photo">
                            </a>
                        </div>
                        <div class="social-media-icon">
                            <a href="https://vk.com/club228609143" target="_blank" class="social-media-icon-link">
                                <img src="/static/img/Social media icons/vk-icon.svg" alt="VK" class="social-media-icon-photo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="copyright-info">
                    <img src="/static/img/copyright-icon.png" alt="copyright" class="copyright-photo">
                    <span class="copyright-text">2024 - {{ 'History of Everything' if session.get('language') == 'en' else 'История всего' }}</span>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
