<!DOCTYPE html>
<html lang="{{ session.get('language', 'en') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'History of Everything' if session.get('language') == 'en' else 'История всего' }}</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
    <script src="/static/script.js"></script>
</head>
<body>
    <header class="header">
        <div class="main-container">
            <div class="navbar">
                <div class="logo">
                    <a href="/">
                        <img src="/static/img/Logo-img.png" alt="logo" class="logo-photo">
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="review">
                        <a href="/templates/review.html" class="review-link">
                            <h4 class="review-link-name navbar-name h4-text">
                                {{ 'Leave a review about our site!' if session.get('language') == 'en' else 'Оставьте отзыв о нашем сайте!' }}
                            </h4>
                        </a>
                    </div>
                    <div class="authors">
                        <a href="/templates/authors.html" class="authors-link">
                            <h4 class="authors-link-name navbar-name h4-text">
                                {{ 'The authors of the site' if session.get('language') == 'en' else 'Авторы сайта' }}
                            </h4>
                        </a>
                    </div>
                    {% if username %}
                        <div class="user-menu">
                            <span class="user-name">{{ username }}</span>
                            <div class="user-dropdown">
                                <a href="/templates/history.html">{{ 'History' if session.get('language') == 'en' else 'История' }}</a>
                                <a href="/templates/favourites.html">{{ 'Favorites' if session.get('language') == 'en' else 'Избранное' }}</a>
                                <a href="/logout">{{ 'Log Out' if session.get('language') == 'en' else 'Выйти' }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="registration">
                            <div class="registration-login">
                                <a href="/templates/login.html" class="registration-login-link">
                                    <h5 class="registration-login-link-name h5-text">
                                        {{ 'Log In' if session.get('language') == 'en' else 'Войти' }}
                                    </h5>
                                </a>
                            </div>
                            <div class="registration-between-line"></div>
                            <div class="registration-sign-up">
                                <a href="/templates/sign-up" class="registration-sign-up-link">
                                    <h5 class="registration-sign-up-link-name h5-text">
                                        {{ 'Sign Up' if session.get('language') == 'en' else 'Регистрация' }}
                                    </h5>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="dropdown-auth-lang dropdown-auth">
                        <button class="dropbtn-auth dropbtn-auth-lang-pic site-text-main"><img src="/static/img/icons8-гугл-переводчик.svg" alt="#"></button>
                        <div class="dropdown-auth-content dropdown-auth-content-lang">
                            <a href="/set_language/ru" class="rs-link menu-link h5-text">Русский</a>
                            <a href="/set_language/en" class="ea-link menu-link h5-text">English</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main-pic">
        <div class="mid-container">
            <div class="error-msg">
                <p class="error-msg-text h4-text">
                    {{ '✅ Your password has been successfully changed! We care about your security. 🛡️' if session.get('language') == 'en' else '✅ Ваш пароль успешно изменён! Мы заботимся о вашей защите. 🛡️' }}
                </p>
            </div>
        </div>
        <div style="height: 350px;"></div>
    </main>

    <footer class="footer footer-pic">
        <div class="main-container">
            <div class="contacts">
                <div class="emails">
                    <div class="contacts-first-text">
                        <h5 class="contacts-first-text-name h5-text">
                            {{ 'Have any questions? Write them on those e-mails:' if session.get('language') == 'en' else 'Есть вопросы? Напишите их на эти e-mail:' }}
                        </h5>
                    </div>
                    <div class="emails-names">
                        <a href="" class="emails-first-link">
                            <span class="emails-first-link-name emails-link-name">Dictionary-of-evolutions@yandex.ru</span>
                        </a>
                    </div>
                    <div class="contacts-second-text">
                        <h5 class="contacts-second-text-name h5-text">
                            {{ 'or in our social media channels:' if session.get('language') == 'en' else 'или в наших социальных сетях:' }}
                        </h5>
                    </div>
                </div>
                <div class="social-media">
                    <div class="social-media-icons">
                        <div class="social-media-icon">
                            <a href="https://t.me/Dictionary_of_evolutions" target="_blank" class="social-media-icon-link">
                                <img src="/static/img/Social media icons/tg-icon.svg" alt="telegram" class="social-media-icon-photo">
                            </a>
                        </div>
                        <div class="social-media-icon">
                            <a href="https://chat.whatsapp.com/EI1k6oGulP71rzLXWm0Uoy" target="_blank" class="social-media-icon-link">
                                <img src="/static/img/Social media icons/whatsapp-icon.svg" alt="whatsapp" class="social-media-icon-photo">
                            </a>
                        </div>
                        <div class="social-media-icon">
                            <a href="https://invite.viber.com/?g2=AQBcGobe9%2FkLMFPpyrg6hJdaj%2FWY6%2BncEdEC4bGW5MZjZt8xiXyNhx4aecHcTQDk" target="_blank" class="social-media-icon-link">
                                <img src="/static/img/Social media icons/viber-icon.svg" alt="viber" class="social-media-icon-photo">
                            </a>
                        </div>
                        <div class="social-media-icon">
                            <a href="https://vk.com/club228609143" target="_blank" class="social-media-icon-link">
                                <img src="/static/img/Social media icons/vk-icon.svg" alt="VK" class="social-media-icon-photo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="copyright-info">
                    <img src="/static/img/copyright-icon.png" alt="copyright" class="copyright-photo">
                    <span class="copyright-text">2024 - {{ 'History of Everything' if session.get('language') == 'en' else 'История всего' }}</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
